# Python Data Structures
- Ints and floats
- Str
- Lists
- Tuples
- Dictionaries
- Files

### Ints and Floats
- Depending upon the version of python use of behaviour of ints and floats can differ, we will be using python 3.6

In [48]:
# # #Declare a variable 
# # Call up Value 
# #Rs.50000 - 25 years
# #Variable is specific and case sensitive

In [2]:
# income=50000 
# print(income)

income = 50000
income

50000

In [3]:
# Age= 25.5
# print (Age)

age = 25.5
print(age)

25.5

In [7]:
# # We can know the type of the object by using the type() method
# print (type(income))
# print (type(Age))

print(type(income))
print(type(age))

<class 'int'>
<class 'float'>

In [3]:
# #Variables make code Reproducible
# Income1=50000
# Income2=75000
# Avg = ((Income1+Income2)/2)
# print(Avg)
# print(type(Avg))

62500.0
<class 'float'>

In [8]:
income1 = 50000
income2 = 75000

In [10]:
avg = ((income1+income2)/2)
avg
type(avg)

float

In [5]:
# print (float(Income1)/Income2)
# print (type(float(Income1)/Income2))

0.6666666666666666
<class 'float'>

In [12]:
type(income1/income2)

float

In [ ]:
##

# Strings and Booleans

In [15]:
# Course = "Data Science with Python"
# print(type(Course))

course = 'AI is amazing'
type(course)

str

In [17]:
# Learning = True
# print(type(Learning))

learning = True
type(learning)

bool

#### '+' operator behaves differently for str and int

In [18]:
# 3+8

10+10

20

In [19]:
# 'Data' + 'Science'

'Batch' + 'H'

'BatchH'

In [11]:
# #the + operator concatenates strings together, while the * concatenates multiple copies of a string together.
# sample2 = 1 * 3
# sample3 = "1" * 3
# print(sample2)
# print(sample3)

3
111

In [21]:
'BatchH' * 5

'BatchHBatchHBatchHBatchHBatchH'

#### Different Types behave differents. Plus works differently on a integer vs. a string

#### only objects of same class can be concatenated

In [22]:
print("Sumit started with income of Rs." + str(income1) + ". Gradually it was increased to Rs." + str(income2))

Sumit started with income of Rs.50000. Gradually it was increased to Rs.75000

In [15]:
print("Sumit started with income of Rs." + str(Income1) + ". Gradually it was increased to Rs." + str(Income2) + (". Great!"))

Sumit started with income of Rs.50000. Gradually it was increased to Rs.75000. Great!

In [ ]:
##

In [23]:
# Income = "10000"
# type(Income)

income = "1000"
type(income)

str

In [26]:
# NIncome = int(Income)
# NIncome

new_income = int(income)
type(new_income)

int

In [ ]:
##

# Lists

In [27]:
#Income of a certain group

Income1 = 50000
Income2 = 75000
Income3 = 65000
Income4 = 45000
Income5 = 25000

In [30]:
# Income = [Income1, Income2, Income3, Income4, Income5]
# print(Income)

Income = [Income1, Income2, Income3, Income4, Income5]
Income

[50000, 75000, 65000, 45000, 25000]

In [31]:
Income = ["Sumit",50000,"Amit",75000,"Tina",65000,"Heena",45000,"Reena",25000]
Income

['Sumit', 50000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [33]:
# #Lists can also contain Lists themselves
# #Instead of putting strings between the number one can create sublists for each Income entry 

Income2 = [['Sumit',50000],
['Amit',75000],
['Tina',65000],
['Heena',45000],
['Reena',25000]]

Income2 #The main list contains 5 sub lists

# Income2 = [['Sumit',50000],['Amit',75000]]

[['Sumit', 50000],
 ['Amit', 75000],
 ['Tina', 65000],
 ['Heena', 45000],
 ['Reena', 25000]]

In [34]:
# type(Income)
# type(Income2)

type(Income2)

list

In [36]:
# Accessing Information from a List - Use Index
#Zero Based Indexing
Income

['Sumit', 50000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [39]:
# Income[5] #to access Income corresponding to Tina
Income[8]

'Reena'

In [40]:
Income

['Sumit', 50000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [45]:
Income[2:]

['Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [46]:
Income[:6]

['Sumit', 50000, 'Amit', 75000, 'Tina', 65000]

In [30]:
# #Slicing using :

# list[startindex:endindex]

# #[start:end] --> [inclusive:exclusive]

# print(Income[2:6])
# print(Income[:])
# print(Income[2:])
# print(Income[:2])

['Amit', 75000, 'Tina', 65000]
['Sumit', 50000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]
['Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]
['Sumit', 50000]

125000

In [47]:
Income

['Sumit', 50000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [48]:
# #Income of males 
# Income[1] + Income[3]
Income[1] + Income[3]

125000

In [49]:
# #Income of females
Income[-1] + Income[-3] + Income[-5]

135000

In [50]:
Income2

[['Sumit', 50000],
 ['Amit', 75000],
 ['Tina', 65000],
 ['Heena', 45000],
 ['Reena', 25000]]

In [53]:
# Income2[2][:]  #Accessing all elements from list of list

Income2[4][1]

25000

In [ ]:
##

In [54]:
Income

['Sumit', 50000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [55]:
# #List Manipulations
# Income[1] = 55000 #Change
# Income

Income[1] = 55000
Income

['Sumit', 55000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [56]:

# Income[0:2] = ['Likhit',60000]  #Replacing elements
# Income

Income[0:2] = ['Likith', 60000]
Income

['Likith', 60000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [58]:
# Income_add = Income + ['Sumit',50000] #Adding elements
# Income_add

Income_new = Income + ['Sumit', 50000]
Income_new
## .insert(index, [elements])

['Likith',
 60000,
 'Amit',
 75000,
 'Tina',
 65000,
 'Heena',
 45000,
 'Reena',
 25000,
 'Sumit',
 50000]

In [61]:
# del(Income_add[0:2])  #Deleting an element
# Income_add

del(Income_new[0:2])

In [62]:
Income_new

['Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000, 'Sumit', 50000]

In [63]:
# # Create list Age
# age = [11, 18, 20, 10, 9]
age = [11,18,20,10,9]
age

[11, 18, 20, 10, 9]

In [64]:
# age_new = age
# age_new

age_new = age
age_new

[11, 18, 20, 10, 9]

In [65]:
# age_new[1] = 24
# age_new

age_new[1] = 24
age_new

[11, 24, 20, 10, 9]

In [66]:
# age   #Why is this happening?
age

[11, 24, 20, 10, 9]

In [29]:
# age_new

[11, 24, 20, 10, 9]

In [ ]:
##

In [68]:
# age_final = age_new.copy()
# age_final
age_final = age_new.copy()
age_final

[11, 24, 20, 10, 9]

In [69]:
# age_final[1] = 32
# age_final
age_final[1] = 32
age_final

[11, 32, 20, 10, 9]

In [73]:
# age_new
age_new

[11, 24, 20, 10, 9]

In [72]:
age_final = age_new[:]
age_final[0] = 100
age_final

[100, 24, 20, 10, 9]

In [33]:
# age_final = age_new[:]
# print(age_final)
# age_final[1] = 32
# print(age_final)
# print(age_new)

[11, 24, 20, 10, 9]
[11, 32, 20, 10, 9]
[11, 24, 20, 10, 9]

In [ ]:
##

In [76]:
# #Functions in Python

# Python = True

# # Print out type of var
# print(type(Age))

a = 500
float(a)

500.0

In [78]:
# # Print out length of var
# print(len(Income))
len(Income)

10

In [80]:

# # Convert var to an integer: out2
# IntPy = int(Python)
# IntPy

Python_var = True
type(Python_var)
int(Python_var)

1

In [81]:
# # Create lists 
Age1 = [25,65,34,44]
Age2 = [10,50]

In [83]:
# # Paste together 
# Age_f = Age1 + Age2
# print(Age_f)

age_final = Age1 + Age2
age_final

[25, 65, 34, 44, 10, 50]

In [85]:
# # Sort in descending order
# Age_full = sorted(Age_f)
# Age_FULL = sorted(Age_f, reverse = True)
# # Print out full_sorted
# print(Age_full)
# print(Age_FULL)

# sorted()
sorted(age_final, reverse=True)

[65, 50, 44, 34, 25, 10]

In [88]:
# help(sorted)
# help(name of the function)
help (sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
##

# Methods

In [89]:
Income

['Likith', 60000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [91]:
# Income.index('Heena')      #Index is a method
Income.index(75000)

3

In [92]:
# Word = "python"
# print(Word.upper())
# print(Word.replace("n","n course"))

word = "python"

In [93]:
word.upper()

'PYTHON'

In [94]:
word.replace("n","e")

'pythoe'

In [95]:
Income

['Likith', 60000, 'Amit', 75000, 'Tina', 65000, 'Heena', 45000, 'Reena', 25000]

In [96]:
# Income.replace(50000,45000)      #replace is not a method for num/int/float objects

Income.replace(60000, 40000)

AttributeError: 'list' object has no attribute 'replace'

In [97]:
# Income.index(45000)
Income.index('Heena')

6

In [99]:
# Word.index('t')
word.index('h')

3

In [102]:
# Income.append("Raina")
# Income

Income.append("Raina")
Income

['Likith',
 60000,
 'Amit',
 75000,
 'Tina',
 65000,
 'Heena',
 45000,
 'Reena',
 25000,
 'Raina',
 'Raina']

In [103]:
# Sample = "Beautiful"
# print(Sample.count("u"))

sample = 'Beautiful'
sample.count("u")

2

In [104]:
# # Print out how often 25000 appears in Income
# print(Income.count(25000))

Income.count("Likith")

1

In [40]:
# c=range(11)
# print(c)
# print (list(c))

range(0, 11)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
dir(Income) # help() and dir()

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [120]:
help(Income.append)

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

In [ ]:
##

### Looping and conditionals interlude
- Using for loops and if-else statements

In [109]:
Location = ['Delhi','Mumbai','Chennai']

In [110]:
## for loop
for x in Location:
    print(x)

Delhi
Mumbai
Chennai

In [117]:
list(range(0,4))

[0, 1, 2, 3]

In [115]:
for x in range(0,4):
    print(x)

0
1
2
3

In [124]:
# help(function name)
# help(variable.methodname)

In [33]:
# # We can control the flow of execution of code by using conditionals such as if-else
# if 2>3:#Notice that a statement is followed by a :
#     print ('Is it possible?')
    
# else:
#     print ('Yay!!')

Yay!!

In [125]:
## if-else

if 2>3:
    print('Is it possible?')
    
else:
    print('told you so')

told you so

In [ ]:
## create a list of numbers from 1 to 10
## for loop that prints only even numbers

In [128]:
list1 = list(range(0,11))

for x in list1:
    if (x%2==0):
        print(x)

0
2
4
6
8
10

### Case Study
- Use the assign_txt
- Count number of capital letters
- How many times has the word RSS occured?
- How many times has the word Modi occured?

In [129]:
assign_txt="Narendra Damodardas Modi, born 17 September 1950) is the 15th and current Prime Minister of India, in office since 26 May 2014.odi, a leader of the Bharatiya Janata Party was the Chief Minister of Gujarat from 2001 to 2014 and is the Member of Parliament from Varanasi. He led the BJP in the 2014 general election, which gave the party a majority in the Lok Sabha, the first for any political party in India since 1984.As the Chief Minister of Gujarat, Modi's economic policies were praised, while his administration was also criticised for failing to significantly improve the human development in the state, and for failing to prevent the 2002 Gujarat riots. A Hindu nationalist and member of the Rashtriya Swayamsevak Sangh, Modi,remains a controversial figure domestically and internationally. Modi was born on 17 September 1950, to a family of grocers in Vadnagar, Mehsana district, Bombay State (present-day Gujarat).Modi's family belonged to the Modh-Ghanchi-Teli (oil-presser) community,hich is categorised as an Other Backward Class by the Indian government.Modi was the third of six children born to Damodardas Mulchand (1915â€“1989) and Heeraben Modi (b. c. 1920).As a child, Modi helped his father sell tea at the Vadnagar railway station, and later ran a tea stall with his brother near a bus terminus.Modi completed his higher secondary education in Vadnagar in 1967, where a teacher described him as an average student and a keen debater, with an interest in theatre.Modi had an early gift for rhetoric in debates, and this was noted by his teachers and students.Modi preferred playing larger-than-life characters in theatrical productions, which has influenced his political image.At age eight, Modi discovered the Rashtriya Swayamsevak Sangh (RSS), and began attending its local shakhas (training sessions). There, Modi met Lakshmanrao Inamdar, popularly known as Vakil Saheb, who inducted him as an RSS balswayamsevak (junior cadet) and became his political mentor.While Modi was training with the RSS, he also met Vasant Gajendragadkar and Nathalal Jaghda, Bharatiya Jana Sangh leaders who were founding members of the BJP's Gujarat unit in 1980.Engaged while still a child to a local girl, Jashodaben Narendrabhai Modi, Modi rejected the arranged marriage at the same time he graduated from high school.The resulting familial tensions contributed to his decision to leave home in 1967.Modi spent the ensuing two years travelling across Northern and North-eastern India, though few details of where he went have emerged.In interviews, Modi has described visiting Hindu ashrams founded by Swami Vivekananda: the Belur Math near Kolkata, followed by the Advaita Ashrama in Almora and the Ramakrishna mission in Rajkot. Modi remained only a short time at each, since he lacked the required college education."

In [52]:
# print (assign_txt.count('RSS'))

3

In [53]:
# print (assign_txt.count('Modi'))

19

In [181]:
# .isupper() - check whether a letter is Capital or not

c=0
for i in assign_txt:
    if i.isupper():
        c=c+1
print(c)

120

In [55]:
# c=0
# for l in assign_txt:    # 'l' goes through every object in assign_txt       
#     if l.isupper():    # the moment it encounters a Capital letter
#         c = c+1
      
# print (c)

120

In [ ]:
##

# List Comprehension

In [131]:
c=[2,3,4,5]
c

[2, 3, 4, 5]

In [133]:
# #Suppose we want to create a list containing the squares in the list c
# #Method 1
# s=[]
# for num in c:
#     s.append(num**2)
# print(s)

newlist=[]
for x in c:
    newlist.append(x**2)
print(newlist)

[4, 9, 16, 25]

In [134]:
# #Method 2
# [x**2 for x in c ] #Very concise way

## [ output expression/command iteration condition]

[x**2 for x in c]

[4, 9, 16, 25]

In [135]:
income = 50000

In [136]:
# [x+2 for x in income ]   #Why error

[x+2 for x in income]

TypeError: 'int' object is not iterable


-Suppose we want to create a list from a and b such that it looks like the following:
- [[1,'a'],[2,'b'],[3,'c'],[4,'d']]

In [137]:
a=[1,2,3,4]
b=['a','b','c','d']

In [138]:
# ## list comprehension using lists
# ## two for loops in a single line of code
# 

[[x,y] for x in a for y in b if a.index(x)==b.index(y)]

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [139]:
# ## list comprehension on 'range'
# pairs = []
# for p in range(0,2):
#     for q in range(3,5):
#         pairs.append([p,q])
# print(pairs)

pair = []
for x in range(0,2): # x=0, x=1
    for y in range(3,5): #y=3, y=4, y=3, y=4
        pair.append([x,y]) #[[0,3],[0,4],[1,3],[1,4]]
pair

[[0, 3], [0, 4], [1, 3], [1, 4]]

In [140]:
[[x,y] for x in range(0,2) for y in range(3,5)]

[[0, 3], [0, 4], [1, 3], [1, 4]]

In [73]:
# # better method
# pairs2 = [[p,q] for p in range(0,2) for q in range(3,5)]
# print(pairs2)

[[0, 3], [0, 4], [1, 3], [1, 4]]

In [141]:
# # zip
a=[1,2,3,4]
b=['a','b','c','d']
zip(a,b) 
# #zip gives a generator expression

In [142]:
# # list comprehension on a generator expression
# print(list(zip(a,b)))

list(zip(a,b))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [143]:
# [list(x) for x in zip(a,b) ]
[list(x) for x in zip(a,b)]

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [144]:
x = ['P', 6, 1, 'Q', 5, 'R']           #List Comprehension - Conditions on output expression

# print(strings)
[i for i in x if type(i)==str]

['P', 'Q', 'R']

In [145]:
# ## square only if its even
# [num**2 for num in range(10) if num%2 ==0]

[num**2 for num in range(0,10) if num%2==0]

[0, 4, 16, 36, 64]

In [146]:
# [num**2 if num%2 ==0 else 0 for num in range(10)]

[num**2 if num%2==0 else 0 for num in range(0,10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

In [ ]:
##

In [160]:
# ## generator expressions
# ## useful when producing a list with many elements
# ## this output saves memory space
# ## can loop over as seen before - past list()

# int_list = [-2, 4, 1, 6, -3]
# print(x for x in int_list if x > 0) ## use () instead of []
# print(list(x for x in int_list if x > 0))

list1 = [-2, 4, 1, 6, -3]
gen1 = (x for x in list1 if x>0)
gen1

In [161]:
list(gen1)

[4, 1, 6]

In [ ]:
##

In [165]:
import numpy as np
x = [1,2,3]
y = ['a','b',np.NaN]

In [166]:
list(zip(x,y))

[(1, 'a'), (2, 'b'), (3, nan)]

### Lambdas, map
- We can use lambdas, map to replicate the functionality of list comprehension

In [169]:
def square(x,y):
    return x**y

square(2,3)

8

In [168]:
square = lambda x,y:x**y
square(2,3)

8

In [170]:
list1 = [2,7,8,4,9]
list2 = map(lambda x:x**2,list1)

In [172]:
list(list2)

[4, 49, 64, 16, 81]

In [175]:
mass=[45,55,65,76]
ht=[1.65,1.70,1.55,1.80]

bmi = list(map(lambda x,y:x/y**2,mass,ht))
bmi

[16.528925619834713,
 19.031141868512112,
 27.055150884495315,
 23.456790123456788]

In [178]:
bmi_f=filter(lambda x:x<20,bmi)
list(bmi_f)##(condition, sequence)

[16.528925619834713, 19.031141868512112]

In [8]:
# # Define W1 as a lambda function
# W1 = (lambda x, y: x * y)

# # Call W1: result
# result = W1('Yay', 3)

# # Print result
# print(result)

YayYayYay

In [44]:
# nums = [2, 4, 6, 8, 10]
# result = map(lambda a: a ** 2, nums)
# list(result)

[4, 16, 36, 64, 100]

In [179]:
# # Filter
Cities = ['Delhi', 'Pune', 'Chennai', 'Kolkata']

loc = filter(lambda x:len(x)<6, Cities)
list(loc)

['Delhi', 'Pune']

# Error Handling

#### Error handling helps to print an error message if a particular condition is not satisfied

In [46]:
# a function where if its not satisfied
## Prints an error message - if input is int instead of str
# Define w
def w3(x, y=1):
    ## doc string - a document for the fn thats created
    """Concatenate  copies of word1 and two
    exclamation marks at the end of the string."""

    # Initialize empty strings: 
    w3 = ''
    s3 = ''

    # Add exception handling with try-except
    try:
        # Concatenate copies of word using *
        w3 = x * y

        # Concatenate '!!' 
        s3 = w3 + '!!'
    except:
        # Print error message
        print("x argument must be a string and y argument must be an integer.")

   
    return s3

# Call s

w3("Yay", "Great")
w3 ("Yay", 3)

x argument must be a string and y argument must be an integer.

'YayYayYay!!'

In [ ]:
##

In [183]:
list1 = [i for i in assign_txt if i.isupper()]
print(len(list1))

120

### Tuples
- Tuples as immutable iterables
- Tuple methods

#### Processing a tuple is faster than processing a list.
#### Creating a tuple is faster than creating a list. Creating a list is slower because two memory blocks need to be accessed

#### The reasons for having immutable types apply to tuples:
#### copy efficiency: rather than copying an immutable object, you can alias it (bind a variable to a reference)
#### comparison efficiency: when you're using copy-by-reference, you can compare two variables by comparing location, rather than content

In [184]:
# t=(1,2,3,5)
# print(t)

t=(1,2,3,4)
t

(1, 2, 3, 4)

In [186]:
list(t)

[1, 2, 3, 4]

In [185]:
# print(t[0])
# print (t[1])

t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [97]:
li6=[1,2,3,4]
li6[0]=0
print (li6)

[0, 2, 3, 4]

In [98]:
# t[0]=0

TypeError: 'tuple' object does not support item assignment

In [104]:
# ## dir() - shows list of methods, fns and attributes that 
# ## is used on specific objects
# print (dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
##

### Dictionaries

- Extracting keys, values
- Sorting  a dictionary
- Looping through a dictionary

In [187]:
Income = [30000,40000,25000]
name = ["Umesh", "Ramesh","Nilesh"]
in_r = name.index('Ramesh')
in_r
Income[in_r]
## roundabout way

40000

In [189]:
# ## easier way - create dict
# #Dictionary - key:value pairs

# Inc = {"Umesh":30000,"Ramesh":40000,"Nilesh":25000}
# print(Inc)

Inc = {"Umesh":30000, "Ramesh":40000, "Nilesh":25000}
Inc

{'Umesh': 30000, 'Ramesh': 40000, 'Nilesh': 25000}

In [190]:
# #dict_name[key]

# print(Inc["Umesh"])

Inc['Umesh']

30000

In [194]:
# #Print keys in Inc

# print(Inc.keys()) ## all unique keys in dict
# print(Inc.values()) ## all unique values in dict

print(Inc.keys())
print(Inc.values())

dict_keys(['Umesh', 'Ramesh', 'Nilesh'])
dict_values([30000, 40000, 25000])

In [196]:
# "Nilesh" in Inc
"Heena" in Inc

False

In [199]:
# Inc["Nilesh"] = 35000
# print(Inc)

Inc["Nilesh"]=35000
Inc

{'Umesh': 30000, 'Ramesh': 40000, 'Nilesh': 35000}

In [200]:
# del(Inc["Nilesh"])
del(Inc["Nilesh"])
Inc

{'Umesh': 30000, 'Ramesh': 40000}

In [121]:
# print(Inc)

{'Umesh': 30000, 'Ramesh': 40000}

In [201]:
# print (dir(Inc))
dir(Inc)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [202]:
# print (Inc.items()) ##key-value pairs

Inc.items()

dict_items([('Umesh', 30000), ('Ramesh', 40000)])

In [204]:
# Dictionary of dictionaries
Income1 = { 'Ramesh': { 'Gender':'male', 'Income':40000},
           'Ana': { 'Gender':'female', 'Income':66000 },
           'Uma': { 'Gender':'female', 'Income':20000 },
           'Umesh': { 'Gender':'male', 'Income':58000 } }
Income1

{'Ramesh': {'Gender': 'male', 'Income': 40000},
 'Ana': {'Gender': 'female', 'Income': 66000},
 'Uma': {'Gender': 'female', 'Income': 20000},
 'Umesh': {'Gender': 'male', 'Income': 58000}}

In [206]:
# ## multiple level slicing
# # Print out the Income of Ramesh
# print(Income1['Ramesh']['Income'])

# list[list index][element index]]
Income1['Uma']['Income']

20000

In [207]:
# # Create sub-dictionary data
# income2 = { 'Gender':'female', 'Income':30000 }

income2 = {'Gender':'female', 'Income':30000}

In [208]:
# # Add data to europe under key 'italy'
# Income1['Seema'] = income2
# # Print
# print(Income1)

Income1['Seema'] = income2
Income1

{'Ramesh': {'Gender': 'male', 'Income': 40000},
 'Ana': {'Gender': 'female', 'Income': 66000},
 'Uma': {'Gender': 'female', 'Income': 20000},
 'Umesh': {'Gender': 'male', 'Income': 58000},
 'Seema': {'Gender': 'female', 'Income': 30000}}

In [219]:
# for x in Inc:
#     print (x)

for x in Income1:
    print(x)
    print(Income1[x]['Gender'])

Ramesh
male
Ana
female
Uma
female
Umesh
male
Seema
female

In [130]:
# for x in Inc:
#     print (x, Inc[x])

Umesh 30000
Ramesh 40000

In [215]:
# #List Comprehension on Dictionaries

# pos_neg = {l:-l for l in range(3)}
# print(pos_neg)
# type(pos_neg)

{x:-x for x in range(0,3)}

{0: 0, 1: -1, 2: -2}

### Use the assign_txt
- Find out the occurence of each word in text string (Create a list of each word in the string, loop over this list to create a dictionary of words and their occurences

In [28]:
d={}
for w in assign_txt.split(" "): # splitting the whole text on the basis of text
    if w in d: # if the word is in the document, the add word to the dict d
        d[w]=d[w]+1 # if the word repeats then add the count of the word +1 to the dict
    else:
        d[w]=1 # else keep the count of the word as 1 in the dict

In [49]:
# ## frequency count of every word in the doc
# print (d)

In [ ]:
##

### Files
- Reading files
- Manipulating data in file objects
- Writing out files

In [220]:
# # modules interlude
# ## this os module helps establish a connection between
# ## OS and Python 3 env
# import os
# os.chdir('E:\Python for ML')

import os

In [222]:
os.getcwd()
#os.chdir("C://Users//VK//Documents//Poojastuff//dono//Mani")

'C:\\Users\\VK\\Documents\\Poojastuff\\dono\\Manipal-Deloitte\\ProgrammingInPython\\IntroductionToPython'

In [50]:
# ## open and read a plain text file
# f=open('tweets_assignment.txt','r') ## mode=r (w, rb)
# fo=f.read()
# print(type(f)) ## special file type
# print(type(fo)) ## type becomes str after .read()
# f.close()

In [230]:
f = open('tweets_assignment.txt', mode='r')

In [231]:
f1 = f.read()
#f.close()

In [37]:
# ## open and write 
# f=open('write.txt','w')
# for dt in fo:
#     f.write(dt+'\n')
# f.close()

In [234]:
f=open('new_file.txt', mode='w')
for x in f1:
    f.write(x+'\n')
f.close()

In [39]:
# ## context manager - no need to close the file
# with open("tweets_assignment.txt","r") as infile:
#     dat=infile.read()

In [233]:
with open('tweets_assignment.txt', "r") as infile:
    file_new = infile.read()

In [40]:
# dat[0:100]

'"Tweet_Date"|"Tweet_Text"|"Tweet_Handle"\n"Thu Dec 26 123415 0000 2013"|"ashdubey ratigirl FirstpostB'

### end of the notebook